#letterL, #letterU, #letterD, #letterO {
    font-size: 65px;
    color: white;
    animation-delay: -.6s;
    font-weight: bolder;
}

.heading {
    margin-left: 39%;
    margin-top: 6%;
}

.col-xs-3 {
    width: 6%;
}
#letterL{
    color: blue;
}

#letterU {
    color: yellow;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}

#letterD {
    color: green;
}

#letterO {
    color: red;
}
